@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100vh;
}

body{
  background:#020617;
  color:white;
  font-family:
  Inter,
  system-ui,
  sans-serif;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#475569;
  border-radius:20px;
}