# Node Modules
client/node_modules/
server/node_modules/

# Environment Files
client/.env
server/.env

# Logs
*.log

# Build
client/dist/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json